@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

html {
    width: 300px;
    height: 550px;
}

body {
    font-family: 'Sen', sans-serif;
    background-color: #FAFAFA;
}

header {
    background-color: #7784FF;
    height: 30px;
    color: #ffffff;
    line-height: 30px;
    padding-left: 15px;
    font-weight: 700;
    margin-bottom: 30px;
}

#fullscreen {
    float: right;
    height: 25px;
    padding-top: 2px;
    padding-right: 5px;
}

#calendar {
    float: right;
    height: 15px;
    padding-top: 7px;
    padding-right: 5px;
}

#mainSection {
    padding-left: 10px;
}

#intro p {
    margin: 2px;
}

#intro {
    margin-bottom: 30px;
}

.date {
    color: #5B5B5B;
    font-size: 12px;
    padding-bottom: 10px;
}

.welcome {
    color: #7F8DE2;
    font-size: 16px;
    font-weight: 700;
}

.feeling {
    color: #000000;
    font-weight: 700;
    font-size: 16px;
}

.noteText {
    width: 87%;
    border-radius: 8px;
    height: 28px;
    border: 2px solid #e7e7e7;
    padding-left: 10px;
    font-family: 'Sen', sans-serif;
    margin-bottom: 20px;
    margin-left: 5px;
}

.next {
    width: 100px;
    border-radius: 50px;
    border: none;
    background-color: #8D9CFF;
    color: #ffffff;
    font-family: 'Sen', sans-serif;
    margin-bottom: 7px;
    height: 40px;
    outline: none;
    font-size: 20px;
    cursor: pointer;
}

.next:hover {
    background-color: #5865E0;
}

.ending {
    text-align: center;
}

.skip {
    color: #767676;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
}

.answerBtn {
    font-family: 'Sen', sans-serif;
    cursor: pointer;
    font-size: 16px;
    width: 120px;
    height: 100px;
    border: none;
    border-radius: 24px;
    background-color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    box-shadow: 3px 5px 5px #DCDADA;
}

.answerBtn:focus {
    background-color: #C9CEFF;
    outline: none;
}

.answerBtn:hover {
    background-color: #C9CEFF;
}

.answerBtn img {
    text-align: center;
    padding-top: 15px;
}

.answerBtn p {
    text-align: center;
    font-size: 12px;
    margin-top: 4px;
    color: #1E1E1E;
    font-weight: 700;
}

.questionContainer2 {
    display: none;
}