@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

html {
    width: 300px;
    height: 550px;
}

body {
    font-family: 'Sen', sans-serif;
    background-color: #FAFAFA;
}

header {
    background-color: #00B7A3;
    height: 30px;
    color: #ffffff;
    line-height: 30px;
    padding-left: 15px;
    font-weight: 700;
    margin-bottom: 30px;
}

#mainSection {
    margin-left: 10px;
}

#confirmation {
    margin-left: 10px;
    display: none;
}

#confirmation img {
    width: 160px;
}

#fullscreen {
    float: right;
    height: 25px;
    padding-top: 2px;
    padding-right: 5px;
}

#calendar {
    float: right;
    height: 15px;
    padding-top: 7px;
    padding-right: 5px;
}

#intro p {
    margin: 2px;
}

#intro {
    margin-bottom: 60px;
}

.date {
    color: #5B5B5B;
    font-size: 12px;
    padding-bottom: 10px;
}

.welcome {
    color: #00B7A3;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 4px;
}

.feeling {
    color: #000000;
    font-weight: 700;
    font-size: 16px;
    height: 50px;
}

.next, .skip {
    float: left;
    width: 115px;
    border-radius: 6px;
    font-family: 'Sen', sans-serif;
    margin-bottom: 7px;
    height: 30px;
    outline: none;
    font-size: 14px;
    cursor: pointer;
    margin-left: 9px;
    margin-right: 9px;
}

.next, #finish {
    border: none;
    background-color: #00B7A3;
    color: #ffffff;
}

.skip {
    color: #00B7A3;
    background-color: #FAFAFA;
    border: 2px solid #00B7A3;
}

#finishDiv {
    text-align: center;
}

#finish {
    width: 115px;
    border-radius: 6px;
    font-family: 'Sen', sans-serif;
    height: 30px;
    outline: none;
    font-size: 14px;
    cursor: pointer;
}

.next:hover, #finish:hover {
    background-color: #00A88E;
}

.ending {
    text-align: center;
}

.answerBtn {
    font-family: 'Sen', sans-serif;
    cursor: pointer;
    width: 80px;
    height: 60px;
    border: none;
    background-color: #FAFAFA;
}

.answerBtn img {
    text-align: center;
}

.answerBtn p {
    text-align: center;
    font-size: 36px;
    margin-top: 0px;
    color: #000000;
}

.downBtn{
    float: left;
}

.answerContainer {
    width: 30%;
    position: absolute;
    top: 130px;
    margin-right: 120px;
    margin-left: 120px;
}

.answerContainer p {
    float: left;
    font-size: 64px;
    text-align: center;
    color: #00B7A3;
}

.upBtn {
    float: right;
    margin-right: 10px;
}

.answerBtn:focus {
    outline: none;
}

.questionContainer {
    margin-bottom: 200px;
}

#thatsit {
    font-size: 24px;
    color: black;
    font-weight: 700;
    margin-bottom: 15px;
}

#comeback {
    color: #00B7A3;
    font-size: 14px;
    margin-bottom: 80px;
}